.button {
  display: block;
  padding: 20px 38px;
  border-radius: 16px;
  font-weight: 700;
  font-size: 16px;
  white-space: nowrap;
  transition-property: background-color, color, opacity;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-function);

  @media (max-width: $mobile) {
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 12px;
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    opacity: .4;
    pointer-events: none;
    user-select: none;
  }
}
