.dropdown {
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: $bg-grey;
  background-color: #fff;
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--transition-duration) var(--transition-function);

  &--opened {
    opacity: 1;
    pointer-events: auto;
  }
}
