html {
  min-width: 320px;
  font-size: 16px;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  transition-property: border-color, color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-function);

  &:focus {
    outline: none;
  }
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
