// Vars
$container-width: 990px;
$container-padding: 15px;
$container-calculated-width: $container-width + ($container-padding * 2);

// Font vars
$primary-font: 'Open Sans', sans-serif;

// Breakpoints
$mobile: 767px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1280px;

:root {
  --container-width: #{$container-calculated-width};
  --container-padding: #{$container-padding};
  --transition-duration: .15s;
  --transition-function: ease-in-out;

  @media (max-width: $mobile) {
    --container-width: 100%;
    --container-padding: 15px;
  }
}
